.Layout {
    height: 100%;
    box-sizing: border-box;
    display: grid;
    grid-template-rows: 80px 1fr 50px;
    grid-template-columns: 5fr;
    border: 1px solid;
}

.Layout > * {
    border: 1px solid;
}

header, footer {
    grid-column: span 2;
}

main {
    overflow: auto;
    background-color: #C8AE7D;
}
