.Layout {
    height: 100%;
    box-sizing: border-box;
    display: grid;
    grid-template-rows: 80px 1fr 50px;
    grid-template-columns: 5fr;
}

header, footer {
    grid-column: span 2;
}

main {
    overflow-y: auto;
    background-color: #50727B ;
}
