.description {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal; 
    display: -webkit-box;
    -webkit-line-clamp: 3; 
    -webkit-box-orient: vertical;
    min-height: 4.2em;
    max-height: 5.5em;
  }