.card-container {
    border: 15px solid ;
    border-image: url('../../../Assets/Images/elden-ring-wiki-guide-infobox-border.png');
    border-image-width: auto;
    border-image-slice: 30;
}

.description {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal; 
    display: -webkit-box;
    -webkit-line-clamp: 3; 
    -webkit-box-orient: vertical;
    min-height: 4em;
    max-height: 5em;
  }