html {
    background-image: url("./tile.jpg");
}

/* Header style */
#board-header {
    text-align: center;
}
/* Form style */
#task-board-form {
    background-image: url("./formbg.jpg");
}
/* Task Card style */
.task-card {
    background-image: url('./notebg.png');
    width: 200px;
    height: 250px;
}
/* Delete button style */
.delete-button {
    display: none;
}
.task-card:hover .delete-button {
    display: block;
}
