.Header {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    align-items: center;
    background-color: #344955;
    color: #fff;
  }


.Header > .image-container {
    min-height: fit-content;
}

.site-title {
  background: linear-gradient(10deg, #F9F295, #E0AA3E,#E0AA3E, #B88A44);
  /* -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;    */
   text-align: center;
    font-family: 'Spectral Regular';
}

.image-container > img {
  height: 80px;
  object-fit: contain;
}