.Header {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  align-items: center;
  background-color: #344955;
  color: #fff;
}

.Header > .image-container {
  min-height: fit-content;
}

.site-title {
  background: linear-gradient(0deg, #f9f295, #e0aa3e, #e0aa3e, #b88a44);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: center;
  font-family: 'Spectral Regular';
  background-size: 100% 60%;
  background-position: 50% 120%;
}

.image-container > img {
  height: 80px;
  object-fit: contain;
}
