/* App.css */

body {
  margin: 0;
  padding: 0;
  font-family: 'Arial', sans-serif;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 20px;
  flex-grow: 1;
}

/* Style for SiteHeader component */
/* You can add more styles based on your design preferences */
.SiteHeader {
  background-color: #333;
  color: white;
  padding: 10px;
  text-align: center;
}

/* Style for NavMenu component */
/* You can add more styles based on your design preferences */
.side-navigation {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-color: black;
  padding: 10px;
}

/* Style for Card component */
/* You can add more styles based on your design preferences */
.Card {
  max-width: 400px;
  margin: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  overflow: hidden;
}

.Card img {
  width: 100%;
  height: auto;
}

/* Style for Footer component */
/* You can add more styles based on your design preferences */
.Footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 10px;
}
