
.list-container {
    display: flex;
    flex-direction: column;
}

.vacation-list {
	display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    justify-items: center;
    margin-top: 10px;
    gap: 15px;
}

.pagination {
    margin: 20px;
    justify-content: center;
}