.editVacationForm {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  background-color: #3d405b;
  height: 850px;
  border-radius: 5px;
}

.editVacationHeader {
  color: #e2c799;
  font-size: 30px;
}

.fieldContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 75%;
  height: initial;
}

.fieldContainer > label {
  align-self: flex-start;
  color: #e2c799;
}

.inputFields {
  width: 100%;
  background-color: #3d405b;
  color: #e2c799;
  border: 1px solid #e2c799;
}

.descriptionBox {
  display: block;
  width: 100%;
  height: 200px;
  text-align: left;
  resize: none;
  background-color: #3d405b;
  color: #e2c799;
  border: 1px solid #e2c799;
}

.thumbnail {
  width: 250px;
}

.previewImage {
  width: 370px;
  max-height: 80px;
  object-fit: cover;
}

.buttonsContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
}

.buttonsContainer > button {
  width: 100px;
  background-color: #3d405b;
  color: #e2c799;
  border: 1px solid #e2c799;
  border-radius: 5px;
  transition: background-color 0.3s, color 0.3s;
}

.buttonsContainer > button:hover {
  background-color: #e2c799;
  color: #3d405b;
}
