.edit-form {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    background-color: white;
    height: 800px;
}

.description-box {
    display: block;
    height: 200px;
    width: 100%;
    text-align: left;
    resize: none
}

.thumbnail {
    width: 250px;
}