@font-face {
  font-family: 'Spectral Regular';
  src: url('./Assets/fonts/Spectral-Regular.woff') format('woff');
}

html,
body,
#root {
  margin: 0;
  height: 100%;
  text-align: center;
}

a {
  color: blue;
}

form {
  width: 500px;
  text-align: left;
  padding: 10px;
  margin: 20px auto;
}

form {
  position: relative;
}

.error {
  color: red;
  position: absolute;
  margin-left: 20px;
  width: 100%;
}
